:root {
  --primary-color: #2b2dff;
}

.cart-container {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 90%;
  h1,
  h3,
  h4 {
    color: var(--primary-color);
  }
}

.item-container {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  img {
    width: 80px;
    height: 100px;
    border-radius: 50px;
  }
}
.checkout {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: var(--primary-color);
  }
  p {
    border: #2b2dff solid 1px;
    padding: 5px 20px;
    border-radius: 10px;
    color: #2b2dff;
  }
}

@media (max-width: 768px) {
  .item-container {
    width: 100%;
  }
  .item-flex {
    img {
      width: 50px;
      height: 60px;
    }
  }
  .checkout {
    width: 100%;
  }
}
