.nav-container {
  position: relative;
  background-color: #fdfbfb;
  padding: 10px 0;
  color: black;
  display: flex;
  justify-content: space-between;
  .nav-logo {
    padding: 0 10px;
    display: flex;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #2b2dff;
    }
  }
  .nav-list {
    padding: 0 10px;
    display: flex;
    ul {
      display: flex;

      li {
        list-style: none;
        margin: 10px;
      }
      p {
        color: #2b2dff;
        cursor: pointer;
      }
      a {
        width: 100%;
        position: relative;
        padding: 0 10px;
        color: #2b2dff;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          position: absolute;
          top: -100%;
          left: 2%;
          color: #fdfbfb;
          background-color: #2b2dff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 3px;
        }
      }
    }
  }
}
.nav-settings-container {
  background-color: #2b2fff25;
  border-radius: 20px;
}
.nav-settings-flex {
  padding: 2px 10px;
  margin: 10px;
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  a {
    color: #2b2dff;
  }
}

.search-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    padding: 5px 10px;
    border: 1px solid #2b2dff;
    border-radius: 10px;
    outline: none;
  }
}
.main-container {
  background: url("https://images.unsplash.com/photo-1681554437813-efc656499bc6?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/ cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  font-family: "Courier New", Courier, monospace;
  h1 {
    font-size: 4.5rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 0 10px;
    color: #fdfbfb;
    margin-bottom: 10px;
  }
  p {
    background-color: #2b2dff;
    border-radius: 10px;
    padding: 10px;
    color: #fdfbfb;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .view-image {
    img {
      border-radius: 50%;
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    h1 {
      font-size: 2.5rem;
    }
  }

  .mobile-nav {
    background-color: #fdfbfb;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-logo {
      padding: 10px 10px;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2b2dff;
      }
    }
  }
  .mobile-navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fdfbfb;
    width: 50%;
    height: 100vh;
    border-radius: 0 20px 20px 0;
    position: absolute;
    z-index: 999;
    transform: translateX(-800px);
    transition: transform 0.3s ease-in-out;
  }

  .mobile-navigation.active {
    overflow: auto;
    transform: translateX(0);
  }
  body.no-scroll {
    overflow: hidden;
  }
  .hambuger {
    position: relative;
  }
  .hambuger.active .list {
    transform: translateX(800px);
  }
  .hambuger .list {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
  .hambuger .x {
    position: absolute;
    transform: translateX(800px);
    transition: transform 300ms ease-in-out;
  }
  .hambuger.active .x {
    transform: translateX(0);
  }
  .nav-settings-container {
    background-color: transparent;
  }
  .nav-settings-flex {
    flex-direction: column;
    a {
      white-space: nowrap;
      padding: 5px 10px;
      margin: 10px;
      background-color: #2b2fff25;
      border-radius: 20px;
      gap: 2rem;
      font-size: 1.1rem;
      text-align: center;
    }
  }
  .nav-list {
    width: 100%;
    ul {
      display: flex;
      align-items: start;
      justify-content: space-evenly;

      li {
        list-style: none;
        background-color: #2b2fff25;
        border-radius: 20px;
        padding: 0 10px;
        white-space: nowrap;
      }
      a {
        color: #2b2dff;
        width: 100%;
        position: relative;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          position: absolute;
          top: -100%;
          left: 2%;
          color: #fdfbfb;
          background-color: #2b2dff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3px;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    background-color: #221e22d0;
    z-index: 2;
    transform: translateX(-800px);
    transition: transform 0.3s ease-in;
  }

  .overlay.active {
    transform: translateX(0px);
  }
}
