.profile-container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-head {
  text-align: center;
  background-color: #2b2fff56;
  color: #2b2dff;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}
.divider {
  margin: 20px 0 10px;
  height: 2px;
  width: 50%;
  background-color: #2b2dff;
  border-radius: 50%;
}
.tiles-container {
  background-color: #2b2fff56;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  width: 50%;
}
.tiles-flex {
  color: #2b2dff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .tiles-container {
    width: 100%;
  }
  .divider {
    width: 100%;
  }
  .profile-head {
    width: 100%;
  }
}
